.article h2 {
    position: relative !important;
    color: orange;
    text-align: center;
}

.navbar {
    border-bottom: 50px !important;
}

.article {
    padding-left: 10rem;
    padding-right: 10rem;
    scale: auto;
    text-shadow: black;
    text-align: justify;
}

.body {
    border: 1rem;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif;
}

.column {
    width: auto;
    max-width: 80%;
}

.html {
    padding: 0%;
}