.article h2 {
    position: relative !important;
    color: orange;
    text-align: center;
}

.article h1 {
    position: relative !important;
    color: orange;
    text-align: center;
}

.navbar {
    border-bottom: 50px !important;
}

.article {
    text-shadow: black;
    text-align: justify;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}



body {
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif;
}

.column {
    width: auto;
}

.html {
    padding: 0%;
}

body {
font-family: 'Lobster', cursive;
font-family: 'PT Sans', sans-serif;
}

a {
color: gainsboro!important;
}

.navbar {
background-color: white!important;
}

.navbar-brand {
font-size: 2rem !important;
text-transform: uppercase;
}

.nav-link {
font-size: 1.1rem !important;
}