/*Articles*/
    .article h2 {
        position: relative !important;
        color: orange;
        text-align: center;
    }

    .article h1 {
        position: relative !important;
        color: orange;
        text-align: center;
    }
    .article {
        text-shadow: black;
        text-align: justify;
        padding-bottom: 2px !important;
        padding-top: 2px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
/*Navbar*/
    .navbar {
        border-bottom: 50px !important;
    }

    .navbar {
    background-color: white!important;
    }

    .navbar-brand {
    font-size: 2rem !important;
    text-transform: uppercase;
    }

    .nav-link {
    font-size: 1.1rem !important;
    }
     .navbar {
        background-color: !important;
    }
    
    .navbar-brand {
        font-size: 2rem !important;
        text-transform: uppercase;
    }

    .navbar a`{
        color: black !important     ;
        font-weight: 700;
    }
    
    .nav-link {
        font-size: 1.1rem !important;
    }
            
/*Bodies*/

    body {
        font-family: 'Lobster', cursive;
        font-family: 'PT Sans', sans-serif;
    }

    .column {
        width: auto;
    }

    .html {
        padding: 0%;
    }

    body {
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif;
    }

    a {
    color: gainsboro!important;
    }


    body {
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif;
    }       

    a {
        color: gainsboro!important;
    }
        
    .btn-main {
        background-color: blueviolet !important;
        color: #fafaff !important;
        font-size: 1.2rem !important;
        position: center;
    }
    
    .hero h1 {
        font-size: 5rem;
        padding-top: 0rem;
        margin-top: 0rem;
    }
    
    .dark {
        background-color: #132f59;
        color: #fafaff;
    }
    
    .about h3 {
        font-size: 1.8rem;
    }
    
    .about p {
        font-size: 0.9rem;
    }
    .about img {
         height: 10rem !important;
         width: 10rem !important;
     }
    
    .buttons {
        font-size: 1rem;
        background-color: burlywood;
    }
    
    .button-text {
        color: black;
    }