font-family: 'Patrick Hand', cursive !important;


* {
	justify-content: space-around;
	font-family: 'Patrick Hand', cursive !important;
}
body {
	background-color: rgba(199, 243, 255, 0.4);
	display: flex;
}

.firstss {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

.First_Page {	
	padding-top: 40px;
	padding-bottom: 150px;
	max-width: 760px;
	justify-content: center;
	align-content: center;
	margin-right: 0rem;
	justify-content: space-around;

}
.card {
	justify-content: center;
	align-self: center;
	margin-right: 0rem;
}

.navbar {
	background-color: rgba(0,0,0,0) !important;
	padding: 2rem;
}


#body {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card:hover {
	transform: scale(1.05, 1.05);
	transition-duration: 0.7s;
}

.recent-cards {
	justify-content: space-around;
	justify-content: center;
	padding-left: 5px;
	padding-right: 5px;
}

.btn-recent {
	align-self: center;
	justify-content: center;
	align-content: center;
}

.card-text:hover {
	text-decoration: underline;
	text-decoration-color: rgba(199, 243, 255, 0.4);
	transition-duration: 0.9s;
}

.footer {
	padding-top: 5rem;
	background-color: rgba(199, 243, 255, 0);
}