            body {
            font-family: 'Lobster', cursive;
            font-family: 'PT Sans', sans-serif;
        }
        
        a {
            color: gainsboro!important;
        }
        
        .navbar {
            background-color: !important;
        }
        
        .navbar-brand {
            font-size: 2rem !important;
            text-transform: uppercase;
        }

        .navbar a{
            color: black;
            font-weight: 700;
        }
        
        .nav-link {
            font-size: 1.1rem !important;
        }
        
        .hero-content {
            position: absolute;
            top: 40%;
            left: 39.5%;
            max-width: 40%;
            color: black;
        }
        
        .hero-content>h1 {
            position: relative;
            z-index: 999;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 40%;
        }
        
        .hero img {
            opacity: 100% !important;
        }
        
        .btn-main {
            background-color: blueviolet !important;
            color: #fafaff !important;
            font-size: 1.2rem !important;
            position: center;
        }
        
        .hero h1 {
            font-size: 5rem;
            padding-top: 0rem;
            margin-top: 0rem;
        }
        
        .dark {
            background-color: #132f59;
            color: #fafaff;
        }
        
        .about h3 {
            font-size: 1.8rem;
        }
        
        .about p {
            font-size: 0.9rem;
        }
        .about img {
             height: 10rem !important;
             width: 10rem !important;
         }
        .about>nerd-emoji {
            width: fit-content;
            height: fit-content;
        }
        .portfolio-item {
            position: relative;
        }
        
        .portfolio-content {
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            background-color: #8882b1;
            opacity: 0.8;
            height: 100%;
        }
        
        .portfolio h4 {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        
        .portfolio p {
            color: white !important;
        }

        .container {
            position: relative;
            text-align: center;
            color: white;
          }
        
        .social-links {
            opacity: 100%;
            font-weight: 700;
        }
        
        .social-links i {
            font-size: 1.8rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        
        .testimonial i {
            font-size: 2rem;
        }
        
        .shasha {
            text-underline-position: center;
        }
        .forty {
            border: 5rem;            
            border-color: black;
        }
        
        .testimonial h4 {
            font-size: 2rem;
        }
        
        .testimonial img {
            max-width: 100%;
            height: auto;
        }
        
        .buttons {
            font-size: 1rem;
            background-color: burlywood;
        }
        
        .button-text {
            color: black;
        }
        
        .a {
            color: white;
        }