body {
    font-family: 'Lobster', cursive;
    font-family: 'PT Sans', sans-serif;
}

.navbar {
    border-bottom: 50px !important;
}

.article {
    padding-left: 10rem;
    padding-right: 10rem;
    scale: auto;
    text-shadow: black;
    text-align: justify;
}

.body {
    border: 1rem;
}