<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="template_articles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>🤓 A Productive Nerd</title>
</head>
    <body>
        <!--Navbar-->
            <nav class="navbar py-3 navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="#">🤓 A Productive Nerd</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                        <li class="mx-3 nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="mx-3 nav-item">
                            <a class="nav-link" href="articles.html">Articles</a>
                        <li class="mx-3 nav-item">
                            <a class="nav-link" href="#">Link</a>
                        <li class="mx-3 nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        <h1>  </h1> <!--Title of the Document-->
        <article>
            <h2>Introduction - </h2>
        </article>
    </body>
</html>